<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>18962783514-o1nkenpamkbt96183i0fo0l70m6c2gk7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.18962783514-o1nkenpamkbt96183i0fo0l70m6c2gk7</string>
	<key>API_KEY</key>
	<string>AIzaSyCgQKUm0fGJq-Xw4YHOj22pq5XcSzmd8ts</string>
	<key>GCM_SENDER_ID</key>
	<string>18962783514</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>host.exp.exponent</string>
	<key>PROJECT_ID</key>
	<string>karlek-bc00c</string>
	<key>STORAGE_BUCKET</key>
	<string>karlek-bc00c.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:18962783514:ios:000c8bce5e3031534160a3</string>
</dict>
</plist>